:root {
  --color-gray-10: #1b1b1b;
  --color-gray-20: #1f1f1f;
  --color-gray-30: #292929;
  --color-gray-40: #242424;
  --color-gray-50: #686868;
  --color-gray-60: #727272;
  --color-gray-70: #ababab;
  --color-gray-80: #f2f2f2;
  --color-gray-90: #f8f8f8;

  --color-primary: #3374f6;
}
